<div class="container">
	<h1>Выпускная квалификационная работа</h1>
    <h2>Тема: {{ if .Folder.Name}} {{.Folder.Name}}{{- else}} не указана{{- end}}</h2>
    <h3>Выполняет: {{ if .Student.MetaId}}{{.Student.Surname}} {{.Student.Name}}{{- else}}отсутствует{{- end}}</h3>
    <h3>
		Научный руководитель: {{ if .Nauchruk.MetaId}}{{.Nauchruk.Surname}} {{.Nauchruk.Name}}{{- else}}отсутствует{{- end}}
	</h3>
    
    {{- if .CanChangeTheme}}
	<form action="/renamefolder/{{.Folder.Id}}" method="POST">
        <input class="form-control" type="text" name="fnewname" value="{{.Folder.Name}}"/>
        <input type="submit" value="Изменить тему">
    </form>
    {{- else}}Изменять тему может только сам студент или научный руководитель{{- end}}

</div>
